@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Bahianita&family=Rubik+Dirt&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik Dirt",sans-serif;
    color: black;
  }
  body{
    background-image: url(Breaking-Bad.jpg);
    background-size: 100%;
  }
  nav{
    max-width: 950px;
    margin: auto;
    background-image: linear-gradient(
      90deg,
      rgb(46, 102, 8),
      rgb(105, 145, 13),
      rgb(46, 102, 8)
    );
    border-radius: 10px;
    font-size: 20px;
    margin-top: 50px;
  }
  button{
    border: 0;
    background-image: linear-gradient(
      150deg,
      rgb(180, 123, 18),
      rgb(190, 180, 39),
      rgb(119, 66, 16)
    );
    border-radius: 10px;
    color: white;
    display: flex;
    font-size: 25px;
    padding: 4px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
  }
  button span{
    background-color: rgba(173, 89, 21, 0.356);
    padding: 16px 24px;
    border-radius: 7px;
    transition: 0.3s;
    text-decoration: none;
  }
  button:hover span{
    background: none;
    text-decoration: none;
  }
  button:active{
    transform: scale(0.9);
    text-decoration: none;
  }
  li a{
    font-family: "Banahita",sans-serif;
  }
  .menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  .menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color:antiquewhite;
    text-decoration: none;
  }
.menu-horizontal > li:hover{
    background-color: rgb(182, 113, 24);
    border-radius: 10px;
    font-size: 25px;
    transition: .3s;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal > li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: rgba(128, 128, 128, 0.384);
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}










